<div class="search-header row align-center">
  <h2>Search:</h2>
  <form id="search-form" class="row">
    <input id="search-input" type="text" placeholder="Enter a movie title">
    <button>
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</div>

<section class="results">
  <p>Please use the search above.</p>
</section>

<script src="/js/search.js"></script>